@import "tailwindcss";

@theme {
  --color-fill: rgb(33, 39, 55);
  --color-text-base: rgb(234, 237, 243);
  --color-accent: rgb(255, 107, 237);
  --color-card: rgb(52, 63, 96);
  --color-card-muted: rgb(138, 51, 123);
  --color-border: rgb(171, 75, 153);
  --color-error: rgb(239, 68, 68);
  --color-warning: rgb(245, 158, 11);
  --color-success: rgb(34, 197, 94);
}
